<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .gg{
         
            display: flex;
            flex-direction: column;
            grid-column: 200px 1fr;
            justify-content: center;
            align-items: center;
            
        }
        input , button {
            font-size: 30px;
        }
    </style>
</head>
<body>
    
        <h1> home page ddf younes achraf</h1>
        <div class="gg">
        <input type="text" />
        <br>
        <button> submet </button>


    </div>
      




</body>
</html> 