<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= mytitle %></title>
    <link rel="stylesheet" href="mystayle.css">
    <style>
        .gg {

            display: flex;
            flex-direction: column;
            grid-column: 200px 1fr;
            justify-content: center;
            align-items: center;

        }

        input,
        button {
            font-size: 30px;
        }
    </style>
</head>

<body>


    <form action="/home" method="post" >
        <div class="gg">
            <h1> wht's ur username ?</h1>
            <br>
            <input type="text" name="username"/>
            <br>
            <button> submet </button>
        </div>
    </form>
    <br>
<h1>your name is <%= arr[arr.length-1].username %></h1>
<h1>your name is <%= arr.at(-1).username %></h1>





</body>

</html>